.App{
  text-align: center;
}

.navbar {
  top: 0;
  z-index: 1;
  width: 100vw;
  /* background-color: rgba(153, 153, 153, 0.5); */
  position: fixed;
}


.nav{
  padding: 2vw;
  display: inline-block;
}

.home_header{
  margin-top: 45vh;
  margin-bottom: 5vh;
}
