.feed-bottom{
  display: flex;
  margin-bottom: 4vw;
  margin-top: 4vw;
}


.feed-header{
 padding: 1vw;
 border-top-left-radius: 2vw;
 border-top-right-radius: 2vw;
 background-color: #e1e1e1;
}

.feed-box{
  width: 45vw;
  /* height: 40vw; */
  margin-left: 3.5vw;
  margin-top: 3.5vw;
  border-radius: 2vw;
  background-color: white;
  filter: drop-shadow(0px 0px 0.5vw #999999);
  text-align: center;
  border: 2px solid #e1e1e1;
}

.feed-members{

}

.members-box {
  display: flex;
  margin: 2.5%;
  width: 95%;
  height: 60px;
  background-color: #e1e1e1;
  border-radius: 1vw;
  text-align: left;
  filter: drop-shadow(0px 0px 0.5vw #999999);
}

.members-box:hover {
    background-color: #a6a6a6;
}

.member-pic{
  height: 50px;
  width: 50px;
  border-radius: 100vw;
  margin: auto;
  margin-left: 10px;
}
.member-name{
  width: 100%;
  margin: auto;
  padding-left: 1vw;
}

.feed-photos{
}


.post-box{
  width: 90%;
  /* height: 20vw; */
  margin: 5%;
  border-radius: 2vw;
  background-color: white;
  /* filter: drop-shadow(0px 0px 0.5vw black); */
  border: 2px solid #e1e1e1;
  text-align: left;
    filter: drop-shadow(0px 0px 0.5vw #999999);
}

.post-header{
  display:flex;
  height: 60px;
  text-align: left;
  margin-left: 0;
}

.poster-name{
}

.poster-pic{
   display: flex;
   border-radius: 10vw;
   margin: 0px;
   padding: 1vw;
}

.post-body{
  padding: 1vw;
}

.feed-photos{
}


.feed-photo-container{
  height: 150px;
  width: 150px;
  background-color: green;
  margin: 1vw;
}


.feed-photo-thumbnail{
  display: inline;
  width: 150px;
}

.feed-photos-container{
}

.post-time{
  font-size: 0.75em;
  padding-top: 0.2em;
}

.post-name-and-time{
  padding: 1vw;
}
