.loginbg{
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: #0e1211;

}

.logincontainer{
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 2.5vh;
}

.circlelogo{
  margin: 0 auto;
  height: 100vh;
}

.loginform{
  position: absolute;
  width: 20vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 82vh;
  z-index: +1;
  margin-top: 42.5vh;
  background-color: rgba(26, 255, 206, 1);
  border-radius: 5vw;
}

.signupform{

  padding: 1vh;

}

.inputitem{
  margin: 0.5vw;
  padding: 0.8vw;
  background-color: #b2ffee;
  border-radius: 2vw;
  border-style: none;
}

a{
  color: black;
}
